#contato-h1{
    color: green;
}


#rua-endereco{
    position: absolute;
    left: 18%;
    top: 9%;
    margin-left: 200px;
    margin-top: 60px;
}

.contato{
    position: absolute;
    left: 18%;
    top: 9%;
    margin-left: -100px;
    margin-top: -40px;
}

#label-name{
    position: absolute;
    left: 14.5%;
    top: 40%;
    margin-left: -100px;
    margin-top: -40px;
}

#input-name{
    position: absolute;
    left: 18%;
    top: 40%;
    margin-left: -100px;
    margin-top: -40px;
}

#label-mail{
    position: absolute;
    left: 14.2%;
    top: 46%;
    margin-left: -100px;
    margin-top: -40px;
}

#input-mail{
    position: absolute;
    left: 18%;
    top: 46%;
    margin-left: -100px;
    margin-top: -40px;
}

#label-assunto{
    position: absolute;
    left: 13.65%;
    top: 52%;
    margin-left: -100px;
    margin-top: -40px;
}

#input-assunto{
    position: absolute;
    left: 18%;
    top: 52%;
    margin-left: -100px;
    margin-top: -40px;
}

#label-messege{    
    position: absolute;
    left: 12.4%;
    top: 58%;
    margin-left: -100px;
    margin-top: -40px;
}

#input-messege{
    position: absolute;
    left: 18%;
    top: 58%;
    margin-left: -100px;
    margin-top: -40px;    
}

#input-submit{
    position: absolute;
    left: 18%;
    top: 72%;
    margin-left: -100px;
    margin-top: -40px;    
}