#contato-h1{
    color: green;
}


#rua-endereco{
    
}

.contato{
    position: absolute;
    width: 600px;
    height: 70px;
    top: 40px;
    right: 506px;
}

#label-name{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 244px;
    right: 1072px;
}

#input-name{
    position: absolute;
    width: 600px;
    height: 20px;
    top: 240px;
    right: 500px;
}

#label-mail{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 285px;
    right: 1076px;
}

#input-mail{
    position: absolute;
    width: 600px;
    height: 20px;
    top: 280px;
    right: 500px;
}

#label-assunto{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 323px;
    right: 1084px;
}

#input-assunto{
    position: absolute;
    width: 600px;
    height: 20px;
    top: 320px;
    right: 500px;
}

#label-messege{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 360px;
    right: 1100px;
}

#input-messege{
    position: absolute;
    width: 600px;
    height: 70px;
    top: 360px;
    right: 500px;
}

#input-submit{
    position: absolute;
    width: 70px;
    height: 30px;
    top: 445px;
    right: 1037px;
}